a {color:#5a5a5a;text-decoration:none;outline:none;}
a:hover {color:#0064d4;}

.header .topbar {height:90px;}
.header .logo {width: 240px; height: 60px; background:#E0E0E0; margin: 15px 0 0;}
.header .nav {background: #090; height:50px;}
.header .nav ul {list-style: outside none none;}
.header .nav ul li {text-align: center; line-height: 50px;}
.header .nav li a {color:#FFF; font-size: 1.4rem; display: block; width: 120px;}
.header .navbar .actived {background: green;}
.header .navbar {position: relative;}
.header .nav .dropdown {background: green;overflow: hidden;margin:0;position: absolute;padding:0;width:120px;display: none;}
.header .nav .dropdown li a {width:120px; float: left;display: block;}
.header .nav .dropdown li a:hover {background:#090;}
.header .nav .dropdown li {line-height:40px;}
.header .banner {}

.header .search {border: #090 solid 1px; margin: 15px 0 0; width:300px; font-size: 1.4rem;}
.header .search select,.header .search input {border: none;}
.header .search select {font-size: 1.2rem; width: 60px; cursor: pointer}
.header .search .input {width:180px;font-size: 1.2rem;margin-top: 2px;}
.header .search .input:focus,.header .search select:focus {border: none; background: none; box-shadow: none;}
.header .search .button {background: #090;border-color: #090; color: #FFF;height: 29px;}

.main {margin:20px 0 0 0;font-size:1.4rem;}
.main .news {font-size: 1.2rem; padding-right: 2rem;}
.main .news .title {height:3.2rem; border-bottom: 2px solid #090;line-height: 3.2rem;font-size: 1.4rem;color:#090;}
.main .dt .title {border-bottom: 2px solid #000;color:#000;}
.main .news .title i {margin-right:5px;}
.main .news .title .more {font-size: 1.2rem;float: right;margin-right:5px;}
.main .news .list {overflow: hidden;}
.main .news .list a {display: inline-block;height:2.6rem; line-height: 2.6rem;padding:0;float: left;}
.main .news .list ul {list-style: outside none none; padding-top: 10px;}
.main .news .list ul li {border:none;height:2.6rem;}
.main .news .date {float:right; font-size: 1rem;line-height: 2.6rem;}

.main .icons {width:48%; float: left; padding:10px;margin-left:5px;}
.main .icons .icon {font-size: 300%;}
.main .icons .pic {height:120px;}
.main .icons .txt h2, .main .icons .txt p {font-size:1.4rem;text-align: center;}
.main .icons .txt h2 {margin:0;color:red;}
.main .icons .txt p {margin:0;font-size: 1.2rem;}

.main .box-1, .main .box-2 {font-size: 1.2rem;}
.main .box-1 {padding-left: 0;}
.main .box-2 {padding:0;}
.main .about {height:270px; border: 1px solid #E0E0E0;font-size: 1.2rem; position: relative;}
.main .about .txt {padding:20px;}
.main .about .txt p {text-indent: 2em;}
.main .about .logo {background: #090;padding:10px;width:50px; position: absolute; top:0; left:20px; font-weight: bold; font-size: 1.4rem;color: #fff;}
.main .tz .txt h2 {color:red;}
.main .tz .pic {height: 100px;padding-left:70px;}
.main .tz {height:270px; background: #EEE; padding: 20px;}
.main .lxfs {height:130px;background: #EEE;}
.main .lxfs .txt {width:200px;}
.main .lxfs .txt p {margin: 10px 0;}
.main .zp {height:130px;background: #EEE; margin-top: 10px;}
.main .zp .pic, .main .lxfs .pic {float: left}
.main .zp .pic {width:130px; height:130px;}
.main .zp .txt {width:240px;margin-top: 20px; padding-right:20px;}
.main .zp h2 {color:red;margin-bottom: 0;}
.main .zp p {margin-top:10px;}
.main .zp .txt, .main .lxfs .txt {float:right;}
.main .lxfs .pic {width:160px; height:130px;}

.footer {background: #666; font-size: 1.2rem; color:#fff;margin-top:20px;}
.footer p {margin-bottom: 10px;}
.footer .copyright {padding: 20px 0 10px 70px;}
.footer .logo {background: #090; padding: 10px; width:34px; position: absolute; top:-6px; left:30px; font-weight: bold}